<!--
 - Created by mikhailsapozhnikov on 2/4/21.
 -->

<!-- Tile -->
<template>
  <article class={cardStyle} onclick={tileClick}>
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
          <span class="slds-icon_container" title="Test">
            <lightning-icon
              icon-name="standard:drafts"
              alternative-text="Test"
              title="Test"
            ></lightning-icon>
          </span>
        </div>
        <div class="slds-media__body">
          <h3 class="slds-card__header-title">
            <p class="slds-truncate" title={test.Name}>
              <span>{test.Name}</span>
            </p>
          </h3>
        </div>
        <div class="slds-no-flex"></div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
      Question amount: {test.Question_amount__c}
    </div>
  </article>
</template>
