/**
 * Created by mikhailsapozhnikov on 2/4/21.
 */

.container {
  border: 1px rgb(168, 166, 166) solid;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 2px;
}
.slds-card {
  --sds-c-card-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.slds-card:hover {
  --sds-c-card-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.slds-card_active {
  background: #fafafa;
  border-color: #2574a9;
}
/*.slds-card:focus-within {*/
/*  --sds-c-card-shadow: 1px 6px 6px 1px rgba(100, 100, 100, 0.1);*/
/*  background: red !important;*/
/*}*/
/*.slds-card.highlight {*/
/*  --sds-c-card-shadow: 1px 6px 6px 1px rgba(100, 100, 100, 0.1);*/
/*  border-color: #2574a9;*/
/*  background: #bf1313;*/
/*}*/
/*article:focus-within {*/
/*  --sds-c-card-shadow: 1px 6px 6px 1px rgba(100, 100, 100, 0.1);*/
/*  border-color: #2574a9;*/
/*  background: #bf1313;*/
/*}*/
