/**
 * Created by mikhailsapozhnikov on 2/5/21.
 */
h1 {
  font-weight: bold;
  color: #000000;
  font-size: 2em;
  padding-bottom: 5px;
}
.header {
  width: 100%;
}
.question {
  min-height: 130px;
}
.prev-button {
  width: 50%;
}
.next-button {
  width: 50%;
  margin-left: 8px;
}
.slds-form-element__legend {
  font-size: 1.2em;
}
.slds-text-heading_medium {
  width: 100%;
}
.slds-text-heading_small {
  width: 100%;
}
.slds-progress-bar__value {
  background: rgb(221, 219, 218);
  border-radius: 0.5rem;
  --lwc-progressBarColorBackgroundFill: #4bca81;
}
.progress-bar {
  margin-top: 15px;
  width: 100%;
}
.answers {
  margin-left: 4%;
}
