<!--
 - Created by mikhailsapozhnikov on 2/5/21.
 -->

<!-- Test Passing Component-->
<template>
  <lightning-card>
    <div class="title slds-m-left_small slds-m-right_small">
      <h1>
        <lightning-icon
                icon-name="standard:account"
                size="small"
                class="slds-m-right_small"
        ></lightning-icon>
        You're passing the {testName}!
      </h1>
      <lightning-progress-bar
              class="progress-bar slds-progress-bar__value"
              value={progress}
              size="large"
              variant="circular"
      ></lightning-progress-bar>
    </div>
    <header class="slds-text-heading_medium slds-card__header">
      <lightning-layout multiple-rows="true">
        <lightning-layout-item size="12">
          <lightning-layout>
            <lightning-layout-item size="4">
              Question {questionNumber} from {questionLength}
            </lightning-layout-item>
            <lightning-layout-item size="8">
              <span class="answers">Answers:</span>
            </lightning-layout-item>
          </lightning-layout>
        </lightning-layout-item>
      </lightning-layout>
    </header>
    <div class="c-container">
      <lightning-layout multiple-rows="true">
        <lightning-layout-item size="12">
          <lightning-layout>
            <lightning-layout-item
                    class="slds-p-bottom_small slds-m-left_medium question"
                    size="4">
              <!--            ><div class="slds-m-bottom_small question">{question}</div>-->
              <lightning-formatted-text value={question} ></lightning-formatted-text>
            </lightning-layout-item>
            <lightning-layout-item size="7">
              <div class="page-section page-main">
                <div
                        style="margin-left: 3%"
                        if:true={singleAnswer}
                        title="Radio Answer Group in LWC"
                >
                  <lightning-radio-group
                          name="answersGroup"
                          onchange={handleChange}
                          options={options}
                          value={selectedValue}
                          type="radio"
                  ></lightning-radio-group>
                  <br />
                </div>
                <div
                        style="margin-left: 3%"
                        if:false={singleAnswer}
                        title="Checkbox Answer Group in LWC"
                >
                  <lightning-checkbox-group
                          name="answersGroup"
                          onchange={handleChange}
                          options={options}
                          value={selectedValue}
                  ></lightning-checkbox-group>
                  <br />
                </div>
              </div>
            </lightning-layout-item>
          </lightning-layout>
        </lightning-layout-item>
      </lightning-layout>
    </div>
    <footer class="slds-card__footer">
      <lightning-layout multiple-rows="true">
        <lightning-layout-item size="12">
          <lightning-layout>
            <lightning-layout-item size="4">
              <!--        navigation buttons-->
              <div class="slds-align_absolute-center">
                <button
                        disabled={disablePrevButton}
                        class="slds-text-align_left slds-button prev-button slds-button_neutral"
                        onclick={handlePreviousPage}
                >
                  Previous question
                </button>
                <button
                        disabled={disableNextButton}
                        class="slds-text-align_left slds-button next-button slds-button_neutral"
                        onclick={handleNextPage}
                >
                  Next question
                </button>
              </div>

            </lightning-layout-item>
            <lightning-layout-item size="8">
              <!--        action buttons-->
              <button
                      class="slds-button slds-button_neutral"
                      onclick={handleCancelClick}
                      title="Cancel"
              >
                Cancel
              </button>
              <button
                      class="slds-button slds-button_brand"
                      onclick={handleSaveAnswers}
                      title="Save answers"
              >
                Finish test
              </button>
            </lightning-layout-item>
          </lightning-layout>
        </lightning-layout-item>
      </lightning-layout>
    </footer>
  </lightning-card>
</template>
