<!--
 - Created by mikhailsapozhnikov on 2/12/21.
 -->

<!-- User Result -->
<template>
  <section
    role="dialog"
    tabindex="-1"
    aria-labelledby="modal-heading-01"
    aria-modal="true"
    aria-describedby="modal-content-id-1"
    class="slds-modal slds-fade-in-open"
  >
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button
          class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
          title="Close"
          onclick={onCancelClick}
        >
          <lightning-icon
            icon-name="utility:close"
            alternative-text="close"
            variant="inverse"
            size="small"
          ></lightning-icon>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2
          id="modal-heading-01"
          class="slds-text-heading_medium slds-hyphenate"
        >
          <b>User result</b>
        </h2>
      </header>
      <div
        class="slds-modal__content slds-p-around_small"
        id="modal-content-id-1"
      >
        <lightning-card
          title={testName}
          icon-name="standard:account"
          style="margin: 12px 0"
        >
          <div class="slds-p-left_medium slds-p-right_medium">
            <h2>Your result: {userResult}%</h2>
            <p>
              You answered correctly {userCorrectQuestionAmount} question(s)
              from {questionAmount}
            </p>
          </div>
        </lightning-card>
      </div>
      <footer class="slds-modal__footer">
        <button
          class="slds-button slds-button_brand"
          onclick={onCancelClick}
          title="Close"
        >
          Close
        </button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>
