/**
 * Created by mikhailsapozhnikov on 2/4/21.
 */
body {
  margin: 0;
}
.wrapper {
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
  border: #bf1313 10px;
}
.header {
  text-align: center;
  height: 50px;
  flex-shrink: 0;
  background: #f3f2f2;
  color: rgb(46, 46, 46);
  font-size: x-large;
  padding: 10px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.content {
  flex-grow: 1;
}
.content__detail {
  background: #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0.25rem;
  width: 400px;
  flex-shrink: 0;
}
.content__tests {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background: #ffffff;
}
.start-test-button {
  width: 100%;
}
.columns {
  display: flex;
  flex: 1;
}
.result-table {
  height: 500px;
}
.item-test-card {
  display: block;
  height: 100%;
  width: 100%;
}
.main {
  flex: 1;
  order: 2;
  background: #eee;
}
.content__tests-inner {
  align-items: initial;
}
.sidebar-first {
  width: 20%;
  background: #ccc;
  order: 1;
}
.sidebar-second {
  width: 30%;
  order: 3;
  background: #ddd;
}
