<!--
 - Created by mikhailsapozhnikov on 1/29/21.
 -->

<!-- User Quiz -->
<template>
  <template if:false={showStartTestComponent}>
    <div class="wrapper slds-box_border">
      <div class="slds-grid content">
        <div
                class="slds-col slds-p-top_medium slds-border_top slds-border_left slds-border_bottom content__tests"
        >
          <div class="slds-grid slds-wrap content__tests-inner">
            <template for:each={tests} for:item="test">
              <div
                      key={test.Id}
                      class="slds-col slds-p-bottom_medium slds-p-horizontal_medium slds-size_1-of-3"
              >
                <c-tile
                        onclearcards={handleClearCards}
                        class="item-test-card"
                        key={test.Id}
                        test={test}
                        ontileclick={handleTileClick}
                ></c-tile>
              </div>
            </template>
          </div>
        </div>
        <div class="slds-col slds-card-wrapper slds-grow-none content__detail">
          <template if:false={showDetails}>
            <div class="slds-card__header-title slds-border_bottom">
              Choose test
            </div>
          </template>
          <template if:true={showDetails}>
            <div class="slds-card__header-title slds-border_bottom">
              {testTitle}
            </div>
            <div class="slds-card">
              Question amount: {questionAmount}
              <div class="slds-no-flex slds-text-align_left">
                <lightning-input
                        class="slds-p-top_small"
                        type="text"
                        label="Enter your name"
                        placeholder="Type here..."
                        maxlength="80"
                        value={userName}
                        onchange={handleChangeName}
                        required
                ></lightning-input>
                <button
                        onclick={handleStartTestClick}
                        class="start-test-button slds-button slds-button_brand slds-m-top_medium slds-m-bottom_medium"
                        disabled={disableStartTestButton}
                >
                  Start test
                </button>
                <div class="result-table">
                  <lightning-datatable
                          if:true={userResultLength}
                          key-field="Id"
                          data={results}
                          columns={resultColumns}
                          hide-checkbox-column
                          suppress-bottom-bar
                          enable-infinite-loading
                          default-sort-direction={defaultSortDirection}
                          sorted-direction={sortDirection}
                          sorted-by={sortedBy}
                          onsort={onHandleSort}>
                    ></lightning-datatable>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <c-user-result
            if:true={showUserTestResult}
            user-test-id={userTestAnswerId}
            onshowuserresultcomponent={handleShowResult}
    ></c-user-result>
  </template>
  <template if:true={showStartTestComponent}>
    <c-test-passing-component
            user-name={userName}
            test-name={testTitle}
            test-id={selectedTestId}
            onstarttestcomponent={handleEndTest}
            onshowuserresultcomponent={handleShowResult}
    ></c-test-passing-component>
  </template>
</template>
